@tailwind base;
@tailwind components;
@tailwind utilities;
@media print {
    body * {
      visibility: hidden;
    }
    #printable-invoice,
    #printable-invoice * {
      visibility: visible;
    }
    #printable-invoice {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
    @page {
      margin: 2cm;
    }
  }
  .appointment-slot {
    transition: transform 0.1s ease-in-out;
  }
  
  .appointment-slot:hover {
    transform: scale(1.02);
  }